* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  hsl(229, 57%, 11%);
    color: white;
}

img {
    height: 53%;
    position: absolute;
    top: 47%;
    width: 100%;

    transform: translateX(-50%, -50%);
}

.documento {
    background-color: hsl(229, 57%, 11%);
    position: absolute;
    top: 60%;
    left: 12%;
}

.logos {
    background-color: hsl(228, 56%, 26%);
    width: 20%;
    height: 20%;
    position: absolute;
    top: 48%;
    left: 30%;
    border-radius: 10px 90px 10px 10px;
    

    transform: translate(-50%, -50%);
}

.barra {
    background-color: hsl(228, 56%, 26%);
    padding: 30px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 62%;
    border-radius: 10px;

    transform: translate(-50%, -50%);
}

p {
    padding: 5px;

}

#iarmazenar {
    width: 500px;
    height: 25px;
}
